 <div class="row d-flex justify-content-around" id="email">
  <div class="text-center">
 	<h2>liste</h2>
 	<div class="pouet2">
		<ul>
		  <% @email.each do |email| %>
		    <li><%= link_to email.object, email_path(email.id), method: "get", remote: true, class: "link" %>
		  <% end %>
		</ul>
	</div>
  </div>
  <div class="text-center">
   	<h2>contenu</h2>
   	<div class="pouet text-center">
   		
   	</div>
  </div>
</div>